<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bulma CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@creativebulma/bulma-collapsible@1.0.4/dist/css/bulma-collapsible.min.css"
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <title>Library Flow</title>

    <style></style>
  </head>
  <body>
    <!-- BEGIN -->
    <section class="hero is-medium is-link">
      <div class="hero-body">
        <p class="title">Library Flow</p>
        <p class="subtitle">See the flow 🌬, within books 📚.</p>
      </div>
    </section>
    <div class="container is-max-desktop">
      <article class="panel is-primary my-5">
        <p class="panel-heading">{{ floor_name }}</p>
        <p class="panel-tabs">
          {% for floor in floors %}
          <a
            href="{{ url_for('floor_status', floor_id=floor.id) }}"
            class="{{ 'is-active' if floor_name == floor.name else '' }}"
            >{{ floor.name }}
          </a>
          {% endfor %}
        </p>
        <div class="panel-block">
          <p class="control has-icons-left">
            <input class="input is-primary" type="text" placeholder="Search" />
            <span class="icon is-left">
              <i class="fas fa-search" aria-hidden="true"></i>
            </span>
          </p>
        </div>
        {% for section in sections %}
        <div>
          <a
            href="#{{ section.id }}-chart-div"
            class="panel-block"
            data-action="collapse"
          >
            <span class="panel-icon">
              <i class="fas fa-book" aria-hidden="true"></i>
            </span>
            <p>{{ section.name }}</p>
            <button class="button is-small is-rounded ml-1">
              <span class="icon is-small">
                <i class="fas fa-question" aria-hidden="true"></i>
              </span>
            </button>
            <span
              class="tag {{ 'is-success' if section.status < 30 else 'is-warning' if section.status < 60 else 'is-danger' }} ml-auto"
              >{{ section.status }}</span
            >
          </a>
        </div>
        <div id="{{ section.id }}-chart-div" class="is-collapsible" data-section_id="{{ section.id }}">
          <canvas id="{{ section.id }}-chart" class="p-2" height="100"></canvas>
        </div>
        {% endfor %}
      </article>
    </div>

    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <strong>Library Flow</strong> by
          <a href="https://github.com/tomy0000000">Tomy Hsieh</a> and
          <a href="https://github.com/bear3z">Eddy Tan</a>. The source code is
          licensed
          <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
        </p>
      </div>
    </footer>
    <!-- END -->

    <!-- JavaScript Tags -->
    <script
      type="text/javascript"
      src="https://unpkg.com/@creativebulma/bulma-collapsible@1.0.4/dist/js/bulma-collapsible.min.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/chart.js@3.3.2/dist/chart.min.js"
      integrity="sha256-qoN08nWXsFH+S9CtIq99e5yzYHioRHtNB9t2qy1MSmc="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"
      integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="{{ url_for('static', path='js/index.js') }}"></script>
  </body>
</html>
